---
# Source: digitalhub/charts/docker-registry/templates/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: digitalhub-docker-registry
  namespace: default
  labels:
    app: docker-registry
    chart: docker-registry-2.3.0
    release: digitalhub
    heritage: Helm
spec:
  selector:
    matchLabels:
      app: docker-registry
      release: digitalhub
  replicas: 1
  strategy: 
    type: Recreate
  minReadySeconds: 5
  template:
    metadata:
      labels:
        app: docker-registry
        release: digitalhub
      annotations:
        checksum/config: 7abf666f775a7a983747d0776be051f79e8518108c9d2cfd59d80bfbd8aa8bd0
        checksum/secret: a444434d4b86c58a69e6efbf3202dd3c7cde61b43266ded57c2df02b5337f9f4
    spec:
      securityContext: 
        fsGroup: 1000
        fsGroupChangePolicy: Always
        runAsUser: 1000
        supplementalGroups: []
        sysctls: []
      containers:
        - name: docker-registry
          image: "registry:2.8.1"
          imagePullPolicy: IfNotPresent
          command:
          - /bin/registry
          - serve
          - /etc/docker/registry/config.yml
          ports:
            - containerPort: 5000
          livenessProbe:
            httpGet:
              path: /
              port: 5000
          readinessProbe:
            httpGet:
              path: /
              port: 5000
          resources: 
            {}
          env: 
            - name: REGISTRY_HTTP_SECRET
              valueFrom:
                secretKeyRef:
                  name: digitalhub-docker-registry-secret
                  key: haSharedSecret
            - name: REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY
              value: "/var/lib/registry"
          securityContext: 
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
            privileged: false
            readOnlyRootFilesystem: true
            runAsGroup: 1000
            runAsNonRoot: true
            runAsUser: 1000
            seLinuxOptions: {}
            seccompProfile:
              type: RuntimeDefault
          volumeMounts: 
            - name: "digitalhub-docker-registry-config"
              mountPath: "/etc/docker/registry"
            - name: data
              mountPath: /var/lib/registry/
      volumes: 
        - name: digitalhub-docker-registry-config
          configMap:
            name: digitalhub-docker-registry-config
        - name: data
          persistentVolumeClaim:
            claimName: digitalhub-docker-registry
