---
# Source: digitalhub/charts/seaweedfs/templates/s3-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: seaweedfs-s3
  namespace: default
  labels:
    app.kubernetes.io/name: seaweedfs
    helm.sh/chart: seaweedfs-4.0.393
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/instance: digitalhub
    app.kubernetes.io/component: s3
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: seaweedfs
      app.kubernetes.io/instance: digitalhub
      app.kubernetes.io/component: s3
  template:
    metadata:
      labels:
        app.kubernetes.io/name: seaweedfs
        helm.sh/chart: seaweedfs-4.0.393
        app.kubernetes.io/instance: digitalhub
        app.kubernetes.io/component: s3
      
      annotations:
      
    spec:
      restartPolicy: Always
      
      terminationGracePeriodSeconds: 10
      enableServiceLinks: false
      containers:
        - name: seaweedfs
          image: chrislusf/seaweedfs:3.93
          imagePullPolicy: IfNotPresent
          env:
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: SEAWEEDFS_FULLNAME
              value: "seaweedfs"
            - name: WEED_CLUSTER_DEFAULT
              value: "sw"
            - name: WEED_CLUSTER_SW_FILER
              value: "seaweedfs-filer-client.seaweedfs:8888"
            - name: WEED_CLUSTER_SW_MASTER
              value: "seaweedfs-master.seaweedfs:9333"
          command:
            - "/bin/sh"
            - "-ec"
            - |
              exec /usr/bin/weed \
              -logdir=/logs \
              -v=1 \
              s3 \
              -ip.bind=0.0.0.0 \
              -port=8333 \
              -metricsPort 9327 \
              -allowEmptyFolder=true \
              -config=/etc/sw/seaweedfs_s3_config \
              -filer=seaweedfs-filer-client.default:8888
          volumeMounts:
            - name: logs
              mountPath: "/logs/"
            - mountPath: /etc/sw
              name: config-users
              readOnly: true
            
          ports:
            - containerPort: 8333
              name: swfs-s3
            - containerPort: 9327
              name: metrics
          readinessProbe:
            httpGet:
              path: /status
              port: 8333
              scheme: 
            initialDelaySeconds: 15
            periodSeconds: 15
            successThreshold: 1
            failureThreshold: 100
            timeoutSeconds: 10
          livenessProbe:
            httpGet:
              path: /status
              port: 8333
              scheme: 
            initialDelaySeconds: 20
            periodSeconds: 60
            successThreshold: 1
            failureThreshold: 20
            timeoutSeconds: 10
      volumes:
        - name: config-users
          secret:
            defaultMode: 420
            secretName: seaweed-s3-secret
        - name: logs
          hostPath:
            path: /storage/logs/seaweedfs/s3
            type: DirectoryOrCreate
        
      nodeSelector:
        kubernetes.io/arch: amd64
