---
# Source: digitalhub/charts/seaweedfs/templates/service-account.yaml
apiVersion: v1
kind: ServiceAccount
metadata:
  name: seaweedfs
  namespace: default
  labels:
    app.kubernetes.io/name: seaweedfs
    helm.sh/chart: seaweedfs-4.0.393
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/instance: digitalhub
automountServiceAccountToken: true
