---
# Source: digitalhub/charts/seaweedfs/templates/volume-statefulset.yaml
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: seaweedfs-volume
  namespace: default
  labels:
    app.kubernetes.io/name: seaweedfs
    helm.sh/chart: seaweedfs-4.0.393
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/instance: digitalhub
    app.kubernetes.io/component: volume
spec:
  serviceName: seaweedfs-volume
  replicas: 1
  podManagementPolicy: Parallel
  selector:
    matchLabels:
      app.kubernetes.io/name: seaweedfs
      app.kubernetes.io/instance: digitalhub
      app.kubernetes.io/component: volume
  template:
    metadata:
      labels:
        app.kubernetes.io/name: seaweedfs
        helm.sh/chart: seaweedfs-4.0.393
        app.kubernetes.io/instance: digitalhub
        app.kubernetes.io/component: volume
      
      annotations:
      
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchLabels:
                  app.kubernetes.io/name: seaweedfs
                  app.kubernetes.io/instance: digitalhub
                  app.kubernetes.io/component: volume
              topologyKey: kubernetes.io/hostname
      restartPolicy: Always
      
      terminationGracePeriodSeconds: 150
      enableServiceLinks: false
      serviceAccountName: "seaweedfs" # for deleting statefulset pods after migration
      containers:
        - name: seaweedfs
          image: chrislusf/seaweedfs:3.93
          imagePullPolicy: IfNotPresent
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: HOST_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.hostIP
            - name: SEAWEEDFS_FULLNAME
              value: "seaweedfs"
            - name: WEED_CLUSTER_DEFAULT
              value: "sw"
            - name: WEED_CLUSTER_SW_FILER
              value: "seaweedfs-filer-client.seaweedfs:8888"
            - name: WEED_CLUSTER_SW_MASTER
              value: "seaweedfs-master.seaweedfs:9333"
          command:
            - "/bin/sh"
            - "-ec"
            - |
              exec /usr/bin/weed \
                -logtostderr=true \
                -v=1 \
                volume \
                -port=8080 \
                -metricsPort=9327 \
                -dir /data1 \
                -max 0 \
                -ip.bind=0.0.0.0 \
                -readMode=proxy \
                -minFreeSpacePercent=7 \
                -ip=${POD_NAME}.${SEAWEEDFS_FULLNAME}-volume.default \
                -compactionMBps=50 \
                -mserver=${SEAWEEDFS_FULLNAME}-master-0.${SEAWEEDFS_FULLNAME}-master.default:9333 \
          volumeMounts:
            - name: data1
              mountPath: "/data1/"
            
          ports:
            - containerPort: 8080
              name: swfs-vol
            - containerPort: 9327
              name: metrics
            - containerPort: 18080
              name: swfs-vol-grpc
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8080
              scheme: 
            initialDelaySeconds: 15
            periodSeconds: 15
            successThreshold: 1
            failureThreshold: 100
            timeoutSeconds: 30
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
              scheme: 
            initialDelaySeconds: 20
            periodSeconds: 90
            successThreshold: 1
            failureThreshold: 4
            timeoutSeconds: 30
      volumes:
        - name: data1
          hostPath:
            path: /ssd/object_store/
            type: DirectoryOrCreate
      nodeSelector:
        kubernetes.io/arch: amd64
  volumeClaimTemplates:
