---
# Source: digitalhub/charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: digitalhub-argo-workflows-workflow-controller-configmap
  namespace: "default"
  labels:
    helm.sh/chart: argo-workflows-0.45.1
    app.kubernetes.io/name: argo-workflows-cm
    app.kubernetes.io/instance: digitalhub
    app.kubernetes.io/component: workflow-controller
    app: workflow-controller
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/part-of: argo-workflows
data:
  config: |
    executor:
      imagePullPolicy: Always
      resources:
        limits:
          cpu: 500m
          memory: 256Mi
        requests:
          cpu: 100m
          memory: 128Mi
      securityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop:
          - ALL
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    workflowDefaults:
      spec:
        serviceAccountName: argo-workflow
        templateDefaults:
          container:
            resources:
              limits:
                cpu: 500m
                memory: 256Mi
              requests:
                cpu: 100m
                memory: 128Mi
    nodeEvents:
      enabled: true
