---
# Source: digitalhub/charts/template-controller/templates/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: digitalhub-template-controller
  labels:
    helm.sh/chart: template-controller-0.2.5
    app.kubernetes.io/name: template-controller
    app.kubernetes.io/instance: digitalhub
    app.kubernetes.io/version: "v0.8.3"
    app.kubernetes.io/managed-by: Helm
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: template-controller
      app.kubernetes.io/instance: digitalhub
  template:
    metadata:
      annotations:
        prometheus.io/port: "8080"
        prometheus.io/scrape: "true"
      labels:
        app.kubernetes.io/name: template-controller
        app.kubernetes.io/instance: digitalhub
    spec:
      serviceAccountName: digitalhub-template-controller
      securityContext:
        fsGroup: 1337
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: template-controller
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsUser: 1337
            seccompProfile:
              type: RuntimeDefault
          image: "ghcr.io/kluctl/template-controller:v0.8.3"
          env:
            - name: RUNTIME_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          args:
            - --watch-all-namespaces
            - --leader-elect
          imagePullPolicy: IfNotPresent
          ports:
            - name: http-prom
              containerPort: 8080
              protocol: TCP
            - name: healthz
              containerPort: 8081
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: healthz
          readinessProbe:
            httpGet:
              path: /readyz
              port: healthz
          resources:
            {}
          volumeMounts:
            - name: temp
              mountPath: /tmp
      volumes:
        - name: temp
          emptyDir: {}
