name: Lint and Test Charts

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read 

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.14.0

      - name: Run Helm Lint
        run: |
          helm lint ./charts/aac
      - name: Run Helm Lint
        run: |
          helm lint ./charts/core

      - name: Run Helm Template (Validate YAML)
        run: |
          helm template my-release ./charts/aac > /dev/null
      - name: Run Helm Template (Validate YAML)
        run: |
          helm template my-release ./charts/core > /dev/null    