name: Lint and Test Charts

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read 

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.14.0

      - name: Run Helm Lint and Template Checks
        run: |
          helm lint ./charts/aac
          helm lint ./charts/core
          helm template my-release ./charts/aac
          helm template my-release ./charts/core 
        
      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.7.0

      - name: Create kind cluster
        uses: helm/kind-action@v1.12.0

      - name: Run chart-testing (install)
        run: ct install\ 
                --charts ./charts/aac --charts ./charts/digitalhub\
                --values ./charts/digitalhub/values-demo.yaml\
             