name: Release Charts

on:
  push:
    branches:
      - main

jobs:
  release:
    permissions:
      packages: write
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.14.0

      - name: Add dependency chart repos
        run: |
          helm repo add docker-registry https://helm.twun.io
          helm repo add postgres-operator https://opensource.zalando.com/postgres-operator/charts/postgres-operator

      - name: Update Chart Dependencies (Download Sub-Charts)
        run: |
          for chart_dir in charts/*; do
            if [ -d "$chart_dir" ]; then
              echo "Updating dependencies for: $chart_dir"
              helm dependency update "$chart_dir"
            fi
          done

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.7.0
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
      
      - name: Login to GitHub Container Registry (GHCR)
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push Charts to GHCR (GitHub Packages)
        run: |
          shopt -s nullglob

          for pkg in .cr-release-packages/*; do
            if [ -z "${pkg:-}" ]; then
              break
            fi
            
            helm push "${pkg}" "oci://ghcr.io/${GITHUB_REPOSITORY_OWNER}/charts"
          done